/* SUMMARY:
// count 
*/

// count 
.count-btn-wrap {
	position: relative;
	width: 100%;
	display: flex;

	li {
		width: 33.333%;
		height: rem(36);
		color: $dark;
		text-align: center;

		.count-btn {
			display: block;
			width:  100%;
			height: 100%;
			background-repeat: no-repeat;

			&.minus-btn {
				background-image: url('~@/assets/images/form/btn_minus.svg');
				background-size: auto rem(36);
				background-position: 0 50%;
				background-repeat: no-repeat;
				&:disabled {
					background-image: url('~@/assets/images/form/btn_minus-disable.svg');
					background-size: auto rem(36);
					background-position: 0 50%;
				}
			}
			
			&.plus-btn {
				background-image: url('~@/assets/images/form/btn_add.svg');
				background-size: auto rem(36);
				background-position: 100% 50%;
				&:disabled {
					background-image: url('~@/assets/images/form/btn_add-disable.svg');
					background-size: auto rem(36);
					background-position: 100% 50%;
				}
			}
			
			
		}
		
		
	}
}
